# 無効にするファイルの種類
*.log
*.logs
.svn
.DS_Store
.netwhist
*.swp
.*.swp
*~
.*~
tags.lock
/.vim/.netrwhist
.metals

# vim プラグインディレクトリを対象外にする
/.vim/bundle/

# neovim プラグインディレクトリを対象外にする
/nvim/plugins/repos/

# tags ファイル配置ディレクトリのみを対象とする
/tags/*.tags
/tags/*/
!/tags/README

# Neovimのログディレクトリを対象外とする
/.config/nvim/logs/*
