# 無効にするファイルの種類
*.log
*.logs
.svn
.DS_Store
.netwhist
*.swp
.*.swp
*~
.*~
/.vim/.netrwhist
.metals
scoop

# vim プラグインディレクトリを対象外にする
/.vim/bundle/

# neovim プラグインディレクトリを対象外にする
/nvim/plugins/repos/

# Neovimのログディレクトリを対象外とする
/.config/nvim/logs/*

# packerの出力ファイルを対象外にする
/.config/nvim/plugin/*
